@color0: #9cee90;


.navigation>.ui-menu{
    background: #9cee90;
}

.navigation{
    display: table-caption;
}
.navigation {
    .level0.parent {
        &:hover>.submenu {
            left: 75.806872px !important;
            position: absolute;
            top: 0.3697px !important;;
        }
    }
}
